body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #4CAF50; /* Fundo verde */
  color: #fff; /* Texto branco para contraste */
}

header {
  background-color: #1d4d1f;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
  max-width: 1000px; /* Ajustado para acomodar mais conteúdo */
  margin: auto;
  background-color: #fff; /* Fundo branco para contraste com o texto */
  color: #000; /* Texto preto para melhor legibilidade */
  border-radius: 8px; /* Bordas arredondadas */
}

.pet-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.pet-details, .vaccine-info, .medications {
  flex: 1 1 45%; /* Flex-grow, flex-shrink, flex-basis */
  margin-bottom: 20px;
}

.vaccine-info table, .medications table {
  width: 100%;
  border-collapse: collapse;
}

.vaccine-info th, .vaccine-info td, .medications th, .medications td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.vaccine-info th {
  background-color: #f4f4f4;
}

.situacao {
  font-weight: bold;
}

.situacao.perto {
  color: #d9534f; /* Vermelho para 'Perto' */
}

.situacao.distante {
  color: #06a13a; /* Verde para 'Distante' */
}

.medications {
  margin-top: 20px;
}

.medications table {
  border: 1px solid #ddd;
  border-radius: 4px; /* Bordas arredondadas */
  overflow: hidden;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.btn-alterar {
  background-color: #0277bd; /* Azul claro */
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn-alterar:hover {
  background-color: #0277bd; /* Azul mais escuro */
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Responsividade */
@media (max-width: 768px) {
  .pet-info {
      flex-direction: column;
  }

  .pet-details, .vaccine-info, .medications {
      flex: 1 1 100%;
  }

  nav ul {
      flex-direction: column;
      align-items: center;
  }

  nav ul li {
      margin: 10px 0;
  }
}

@media (max-width: 480px) {
  button, .btn-alterar {
      width: 100%;
      padding: 10px;
      font-size: 14px;
  }

  th, td {
      padding: 6px;
      font-size: 14px;
  }
}